@model IEnumerable<Rotas.Models.Noticia>

@{
    ViewBag.Title = "TodasAsNoticias";
}

<h2>TodasAsNoticias</h2>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Titulo, "MostrarNoticia", "Home", new
                {
                   @noticiaID = item.NoticiaId,
                    @categoria = item.Categoria.ToLower(),
                    @titulo = item.Titulo.ToLower()
                }, null)


                <em>@Html.DisplayFor(modelItem => item.Categoria)</em>
                <b>@Html.DisplayFor(modelItem => item.Data)</b>

            </li>
        }
    </ul>
</div>

